.page{
  width: 100%;
  margin: 24px;
}
.btn{
  display: flex;
  justify-content: space-between;
  border-radius: 32px;
  padding: 4px 16px;
  width: 107px;
  background: #179cf7;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: 0.11em;
  color: #fff;
}
.header{
  display: flex;
  justify-content: space-between;
}
.menu{
  display: flex;
  gap: 24px;
}
.filter{
  display: grid;  
  grid-template-columns: 18% 18% 18% 18% 28%;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 8px;
  margin-top: 24px;
}
.filter:last-child{
  border: none;
}