@font-face {
  font-family: "Helvetica";
  src: url("./shared/assets/fonts/HelveticaNeueCyr-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src:  url("./shared/assets/fonts/HelveticaNeueCyr-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: url("./shared/assets/fonts/HelveticaNeueCyr-Roman.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Helvetica, sans-serif;
  background: linear-gradient(270deg, rgba(3, 201, 136, 0.05) 0%, rgba(23, 156, 247, 0.05) 100%);
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #000;
}
button{
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: Helvetica, sans-serif;
  cursor: pointer;
  background-color: transparent;
  border: transparent;
}
.decor{
  background-image: url(./assets/img/top-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 70px;
  width: 100%;  
}
.main{
  display: flex;
}
.balance-page{
  width: 75%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 65% 34%;
  grid-template-rows: 219px 528px;
  gap: 15px;
  margin: 24px;
}
.content-block{
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.04);
  background: #fff;
  border: 1px solid #eee;
  border-radius: 16px;
  padding: 24px;
}

.title-text{
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #616161;
}
.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:  #fff;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.pagination.active{
  background-color:  #179cf7;
  color: #fff;
}

.css-1k4oq0i-MuiPaper-root-MuiPickersPopper-paper {
  border-radius: 16px !important;
}
.css-23p0if-MuiButtonBase-root-MuiPickersDay-root.Mui-selected,
.css-1wy8uaa-MuiButtonBase-root-MuiPickersDay-root.Mui-selected{
  background: linear-gradient(270deg, rgba(3, 201, 136, 0.2) 0%, rgba(23, 156, 247, 0.2) 100%) !important;
  color: #000 !important;
}
.css-rhmlg1-MuiTypography-root-MuiDayCalendar-weekDayLabel {
  font-weight: 800 !important;
}
.css-1wy8uaa-MuiButtonBase-root-MuiPickersDay-root,
.css-23p0if-MuiButtonBase-root-MuiPickersDay-root,
.css-rhmlg1-MuiTypography-root-MuiDayCalendar-weekDayLabel,
.css-1ayjnp4-MuiPickersDay-root,
.css-po4r1t-MuiPickersDay-root {
  width: 18px !important;
  height: 20px !important;
}

.css-23p0if-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
  border: none !important;
}
.css-1rtg91x-MuiDateCalendar-root {
  width: 100% !important;
  padding: 10px 20px;
}
.css-2jurxj-MuiDayCalendar-slideTransition,
.css-1rtg91x-MuiDateCalendar-root {
  max-height: 220px !important;
}
.css-jp8yki ,
.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
  padding: 4px 0 !important;
}